body {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.hero-section {
  height: 500px;
  background: #1f2937;
}

.info-section {
  height: 500px;
  background: #fff;
}

.quotes-section {
  height: 500px;
  background: #000;
}

.contact-section {
  height: 500px;
  background: #fff;
}

.footer-section {
  height: 50px;
  padding: 16px;
  background: #000;
}